@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Yusei+Magic&display=swap');
body {}

.authDiv {
    background-image: url("https://images.unsplash.com/photo-1607827448299-a099b845f076?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.authFormContainer {
    max-width: 320px;
}

.authTitle {
    color: #19b5fe;
    font-family: 'Yusei Magic', sans-serif;
    font-size: 30px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 20%;
}

.authContainer {
    width: 100vw;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.authBtns {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 320px;
}

.authBtn {
    cursor: pointer;
    border-radius: 50%;
    border: none;
    padding: 10px 0px;
    font-size: 12px;
    text-align: center;
    width: 40px;
    height: 40px;
    color: #ffffff;
    background: #3498db;
    cursor: pointer;
}

.authInput {
    border: none;
    max-width: 320px;
    width: 100%;
    height: 40px;
    padding: 10px;
    border-radius: 30px;
    background-color: inherit;
    border: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    box-shadow: 20px 20px 30px -6px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
    font-size: 12px;
    color: white;
}

.authInput::placeholder {
    color: rgba(226, 217, 217, 0.891);
}

.authSubmit {
    margin-top: 2rem;
    text-align: center;
    background: #04aaff;
    color: white;
    margin-top: 10;
    cursor: pointer;
    width: 50%;
    height: 50px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.authError {
    position: relative;
    color: #e24242;
    text-align: center;
    font-weight: 500;
    font-size: 13px;
    background-color: rgba(225, 181, 181, 0.891);
}

.authSwitch {
    color: #fcfcfc;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 50px;
    display: block;
    font-size: 12px;
    text-decoration: underline;
}

@media (max-width: 800px) {
    .authDiv {
        background-image: url("https://images.unsplash.com/photo-1531844734254-51193b49c604?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80");
    }
    .authBtn {
        color: #3498db;
        background: #ffffff;
    }
}

@media (min-width: 580px) {
    .authDiv {
        filter: brightness(120%);
    }
}