@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:ital,wght@0,100;0,200;0,300;1,100;1,200&family=Roboto+Condensed:ital,wght@0,400;1,300&family=Yusei+Magic&display=swap');
.navTitle {
    position: absolute;
    font-size: 50px;
    left: 50%;
    top: 3rem;
    transform: translate(-50%, -50%);
    color: #5c97bf;
    font-family: 'Roboto Condensed', sans-serif;
}

.navProfile {
    position: absolute;
    right: 1rem;
    top: 2.2rem;
    color: #34495e;
}