@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
html {
    scroll-behavior: smooth;
    width: 100vw;
    height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    border: 0;
}

body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    /*justify-content: center;
    align-items: center;
    min-height: 100vh;*/
    z-index: 0;
}

.loading {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.loadingText1 {
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
    font-size: 70px;
}

.loadingText2 {
    font-family: 'Nanum Brush Script', cursive;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    font-size: 70px;
}

.loadingSpinner {
    position: absolute;
}

.plus {
    position: fixed;
    bottom: 0;
    background-color: #81cfe0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    font-size: 50px;
    border-radius: 50%;
}

.plus:hover {
    width: 66px;
    height: 66px;
    bottom: -6px;
}

.plusText {
    color: #e4f1fe;
}

.searchBar {
    border-radius: 20px;
    position: absolute;
    right: 5rem;
    top: 2.2rem;
    max-width: 12rem;
    height: 2rem;
    padding: 10px;
}

.container {
    transform: translate(-50%);
    margin-left: 50%;
    margin-top: 8rem;
    margin-bottom: 110rem;
    align-items: center;
    align-content: center;
    text-align: center;
    max-width: 500px;
}

.main {
    width: 100vw;
}

.isMobile {
    display: none;
    color: #34495e;
    background-color: #f2f1ef;
    font-size: 1.6rem;
    top: 1.4rem;
    left: 1rem;
    position: absolute;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

@media (max-width: 800px) {
    .mobile {
        display: none;
    }
    .searchBar {
        border-radius: 20px;
        position: fixed;
        z-index: 4;
        left: 50%;
        transform: translateX(-50%);
        top: 1.5rem;
        width: 300%;
        height: 3.4rem;
        padding: 10px;
    }
    .isMobile {
        display: block;
        background-color: #e4f1fe;
        color: #81cfe0;
    }
}